language: node_js
node_js: node
cache:
  directories:
  - node_modules
  - bower_components
  - "${NVM_PATH}_modules"
env:
  matrix:
  - CXX=g++-4.8
  global:
    secure: MNLoja/+ST1HjsTrOduIlfHy1ndOtXvh2BxHmvlh/mNMQlp6scDjaTbfidRNdp4mMIHDeJ002+WN6B7g1ad6n+zLAVfsHM8A7cnbm4FbqbneqlvgVs7asXVs2ht6BZSHW5aUQq2YKXNdlXbUtZNq0uFfNnd2u4c9wkmrp0Jdt4gFznuztYnhRKCx/Q2+HO2GlBa1UzkUGmU2wyskoRDJ4m1TxZQAtXxMIDITXibtFwexwDwmu0+v68sGSSQNPeCIl7OXZRaoBfBHee576/VOJPXPtbnDfLbsgB+F6wUjBiiqLyqWROUvKrM1by6LRSKhIqEYIQTAZM4By3QH9GwHZmAzUPEHFeEEo6IPO7voQti2ib244nbDM3cVynecgOqq6jU1v2LDhMIQdbqDZmv6+72PlQGOHEVqLuXelTn+Lha8sAWSMtqps8i1SneBj/KoT8oxkQRk8cIQToZv2dVtCf21c8GM+gg1ex9PrU+KjuYeZ43GlDaZwN5b7FA6M6tau3LWOnsfDKNkHhf5x61dejbRhV3USeQz7Vl9H5r5/mA5dkhWQVGjFbObyjr+XUYbdVB/kyTYBRmWaYOV/zdNwqLAE14h27OB/6N6wJeI+YuQYklb+OvEeZOT4cRO9lOVAExD98CmWuvOTYBGUTDtgM83ACX53nmZj1ADm6AK7oM=
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
install:
- npm install
script: echo "Deploying!"
before_deploy: npm run build
deploy:
- provider: firebase
  skip_cleanup: true
  on:
    branch: master
  project: devfest18ch-master
  token:
    secure: Qg2VVmRJGkqPRtA75uIAk+IBnalu13LsRIuhM9pEPbEu70oPKL/FWxPOPv5YMuHq3lttjaaMkHk/jvXPtI7o5LhNseKqYPLeZt79QnMdqc1wXotbi0UEhSFjdBTZoEcOPu0UjybE1xvdBy61+4VC3RKnNEVcG5FcXBlNRGlRiT2rUp1W7Wt0O3UlIWfcHb7w0V957drKtq6VOD/i1YdhvwJUUD/CZ+c2hLDkg2HBMxBm+x/F0RvLcWYAROSy4sHfyud9Q+cxNwJiNtpJl2lLxtNtfW7V4Mq0BxVQfIkDNCytivZdiFf6v+trC6kncIMmNT5e+ZcGEgYX4BY8qa2+WPXF82JmNv0PF9IewgC2J34dRrnpgm1Hky3KmUwawiiLyzQciMNFIon9D8oH3Tj5Wg7ydCYr3drl2zQCq8PvS3J76H+gJ9sFV6mc66kjhCHjJzW2k72XJ+VlGmtdw77B5bYQYnp8VQB7+ZRTtMLlJ6cfhqzHfHEHScCFMjli2XTJBY52L86Bx2VwgBc77rZMB0eh3ew+ImT1DOLxZqv0lXG5eR1SX4gR/X+p2wjf1mHIk1+xE/iM3LhXlK1k+POf+i+amZi4uIlZUxajG/ZYlXslNo1enlu4vIhvfyAgzE2J9JBSi4oheFTxNicgnR5rn18peN0RK7Cj14Q1MwUgHmI=
- provider: firebase
  skip_cleanup: true
  on:
    branch: develop
  project: devfest18ch-develop
  token:
    secure: Qg2VVmRJGkqPRtA75uIAk+IBnalu13LsRIuhM9pEPbEu70oPKL/FWxPOPv5YMuHq3lttjaaMkHk/jvXPtI7o5LhNseKqYPLeZt79QnMdqc1wXotbi0UEhSFjdBTZoEcOPu0UjybE1xvdBy61+4VC3RKnNEVcG5FcXBlNRGlRiT2rUp1W7Wt0O3UlIWfcHb7w0V957drKtq6VOD/i1YdhvwJUUD/CZ+c2hLDkg2HBMxBm+x/F0RvLcWYAROSy4sHfyud9Q+cxNwJiNtpJl2lLxtNtfW7V4Mq0BxVQfIkDNCytivZdiFf6v+trC6kncIMmNT5e+ZcGEgYX4BY8qa2+WPXF82JmNv0PF9IewgC2J34dRrnpgm1Hky3KmUwawiiLyzQciMNFIon9D8oH3Tj5Wg7ydCYr3drl2zQCq8PvS3J76H+gJ9sFV6mc66kjhCHjJzW2k72XJ+VlGmtdw77B5bYQYnp8VQB7+ZRTtMLlJ6cfhqzHfHEHScCFMjli2XTJBY52L86Bx2VwgBc77rZMB0eh3ew+ImT1DOLxZqv0lXG5eR1SX4gR/X+p2wjf1mHIk1+xE/iM3LhXlK1k+POf+i+amZi4uIlZUxajG/ZYlXslNo1enlu4vIhvfyAgzE2J9JBSi4oheFTxNicgnR5rn18peN0RK7Cj14Q1MwUgHmI=
